# ========================
# Build artifacts
# ========================
Debug/
Release/
build/

*.o
*.a
*.elf
*.map
*.d
*.su
*.cyclo
*.lst
.cproject
.project
# ========================
# CubeIDE metadata
# ========================
.settings/
*.launch
*.xml
*.fig

# ========================
# VSCode / IDE noise
# ========================
.vscode/
*.code-workspace

# ========================
# OS junk
# ========================
.DS_Store
Thumbs.db

# ========================
# Python plots / logs
# ========================
*.csv
*.log
__pycache__/
*.pyc
*.png
*.jpg
flight_log_VCP/**/*.mat
flight_log_VCP/**/*.txt
